.head {
    background-color: #bcbcbc;
    margin: 0;
    padding: 30px 0;
    text-align: center;


}

.one {
    background-color: black;
    padding: 15px;


}

.two {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.sambo {
    float: right;
    width: 33%;



}

.foot {
    background-color: #bcbcbc;
    clear: both;
    padding: 25px;
    text-align: center;
}