body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

  .class {
    color: aliceblue;
    background-color: rgb(123, 129, 129);
    
    margin: 0;
    padding: 0;
    height: 100px
    
    
    
    
    
  }
  h3 {
    
    color: aliceblue;
    background-color: rgb(53, 127, 238);
    margin: 5px;
    padding: 0;
    height: 50px;
    width: 260px;
    box-sizing: border-box;
   
    
    
    
    
    
    
    
    
    
  }
  .class1 {
    text-align: center;
   margin: 0;
   padding: 0;
   
   
   
    
    
    
    
     
     
  }
  .one {
    color: aliceblue;
    background-color: rgb(123, 129, 129);
    height: 80px;
    
    
  }
.City{
    box-sizing: border-box;
    

}

 
 